.select-player-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(19, 19, 19, 0.1);
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 15px;
}

.select-player-item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.select-player-item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
}


.add-more-btn{
    background-color: #E7FE29;
}